/* HTML tags styling */

html {
  height: 100%;
}

body {
    margin: 0px;
    height:100%;
  }

/* Modal page interior styling */

.show_modal {
    top:0px;
    left:0px;
    z-index: 1;
    display:relative;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hide_modal {
    display:none;
  }
  
  .modal_box {
    background-color: white;
    height:550px;
    width: 650px;
    border-style: solid;
    border-width: 3px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
  }
  
  .modal_interior_header {
    margin-top: 50px;
  }

  .login_one {
    margin-left: 10px;
    width: 300px;
    margin-top: 15px;
  }
  
  .login_two {
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
  }

  .login_three_style {
    margin-top: 15px;
  }

  .login_three {
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
  }
  
  .login_button {
    margin-top: 30px;
    width: 150px;
  }
  .modal_box_content {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
  }

  .button_center {
    display: table;
    margin: 0 auto;
  }

  .login_one_style {
    margin-bottom: 15px;
  }

  .header_style {
    display: table;
    margin: 0 auto;
  }

  .toggleButton {
      height: 20px;
      width: 50px;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      background-color: white;
  }

/* Modal page exterior styling */

  .login_modals_graphics {
    z-index: 0;
    top: 40%;
    left:65%;
    position: fixed;
}
  
 .header_style_external {
    margin-bottom: 25px;
}

.signup_button_style {
    margin-top: 15px;
}

.buttonDiv {
    height: 25px;
    width: 250px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
}

/* Bottom-left user-info box styling */

#blbMaster {
  position: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;  
  font-size: medium;
  height: 50px;
  width: 185px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: white;
  left: 22.5%;
  top: 96%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#usernameBlb {
  margin-top: 30px;
  margin-left: 20px;
}

#profileNameBlb {
  margin-top: 13px;
}

/* Styling for sob on blb */

.sobMaster {
  position: fixed;
  display: block;
  height: 150px;
  width: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: white;
  left: 22.2%;
  top: 83.8%;
  transform: translate(-50%, -50%);
}

#sobInteriorSignoutButton {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styling for banner divs */

#root {
  display: flex;
  height:100%;
}
.first {
  width: 33%;
  background-color: #657786;
  display: flex;
}

.second {
  flex-grow: 1;
  background-color: #AAB8C2;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  position: relative;
}
.third {
  width:33%;
  background: #657786;
}

/* Banner one interior styling */

.bannerFlowControlButtons {
  height: 25px;
  width: 75px;
  align-self: right;
}

/* Styling for banner two profile page content */

.parentDiv {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.topBanner {
  background-color: #AAB8C2;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height: 55px;
  align-self: stretch;
}

.topBannerInteriorPTag {
  margin-left: 5%;
}

.userImage {
  background-color: #AAB8C2;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height:200px;
  align-self: stretch;
}

.middleDiv {
  background-color: #AAB8C2;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height:175px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
}

.userInfoDisplayBar {
  height: 90px;
  align-self: stretch;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.buttonBar {
  background-color: #AAB8C2;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  height: 45px;
  align-self: stretch;
}

.userNameDisplayUidbProfilePage {
  height: 25px;
  margin-left: 20px;
  font-size: medium;
}

/* Styling for user profile modal content*/

.uidbModalDiv {
  align-self: center;
}

#userBio {
  align-self: center;
}