/* HTML tags styling */

html {
  height: 100%;
}

body {
    margin: 0px;
    height:100%;
  }

/* Modal page auth interior styling */

.exit-modal-icon {
  position:fixed;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.show-modal {
    top:0px;
    left:0px;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .show-modal .modal-box {
    background-color: white;
    height: 550px;
    width: 650px;
    border-style: solid;
    border-width: 3px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
  }

  .show-modal .modal-box-auth {
    background-color: white;
    height: 250px;
    width: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 10px;
  }
 
 .modal-box-auth-interior {
   margin-top: 50px;
   border-radius: 25px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
 }
 
 .modal-box-auth-interior .modal-box-auth-interior-child {
  align-self: center;
  margin-bottom: 15px
 }

 .modal-box-auth-interior .modal-box-auth-interior-child-button {
  align-self: center;
  margin-bottom: 15px;
  margin-top: 15px;
  background: #66cc91;
  cursor: pointer;
  width: 175px;
  height: 40px;
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
 }

 .modal-box-auth-button-interior-text {
   font-size: large;
 }

  /* Auth field styling */

  .auth-fields-header {
    align-self: center;
  }

  .auth-fields-container {
    display: flex;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    justify-content: center;
    flex-direction: column;
}

  .auth-fields-access-div {
    height: 45px;
    width: 225px;
    border: none;
    box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
    background: #66cc91;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-width: 1px;
    height:38px;
    width:300px;
    border-radius:25px;
    text-align: center;
    margin-bottom: 10px;
  }

  .auth-fields-inner-div-text {
    font-size: 15px;
    margin-top: 10px;
    font-family: sans-serif;
  }

/* Modal page exterior styling */

  .login_modals_graphics {
    z-index: 0;
    top: 40%;
    left:65%;
    position: fixed;
}
  
 .header_style_external {
    margin-bottom: 25px;
}

.signup_button_style {
    margin-top: 15px;
}

.buttonDiv {
    height: 25px;
    width: 250px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: white;
}

/* Bottom-left user-info box styling */

#blbMaster {
  position: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: block;  
  font-size: medium;
  height: 50px;
  width: 185px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: white;
  left: 22.5%;
  top: 96%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#usernameBlb {
  margin-top: 30px;
  margin-left: 20px;
}

#profileNameBlb {
  margin-top: 13px;
}

/* Styling for sob on blb */

.sobMaster {
  position: fixed;
  display: block;
  height: 150px;
  width: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-color: white;
  left: 22.2%;
  top: 83.8%;
  transform: translate(-50%, -50%);
}

#sobInteriorSignoutButton {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Styling for banner divs */

#root {
  display: flex;
  height:100%;
}
.first {
  height: auto;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.first-banner-content-button-wrapper {
  display: grid;
  margin-left:425px;
  margin-top: 50px;
}

.first-banner-flow-button {
  height: 45px;
  font-size: large;
  width: 200px;
  border: none;
  background: #66cc91;
  cursor: pointer;
  border-width: 1px;
  height:38px;
  border-radius:25px;
  text-align: center;
  margin-bottom: 10px;
}

.second {
  height: auto;
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.third {
  height: auto;
  overflow: scroll;
  width:33%;
}

/* Styling for banner two profile page content */

.profile-edit-div {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: #66cc91;
  font-family: sans-serif;
  border-radius: 5px;
  text-align: center;
  margin-left: 100%;
  margin-top: 60%;
  color:white;
}


.followed-count-user {
  margin-left:32.5%;
  margin-top: 25%;
  display:flex;
}

.move-following {
  margin-left:5%;
}

.followed-count-user-interior {
  display:flex;
}

.user-info-block-lower-div {
  display: flex;
  margin-right: 72.5%;
}

.user-join-date-display {
  margin-top: 25%;
  margin-left: 32.5%;
  display: flex;
}

.text-inside-joindate {
  margin-left:15%;
}

.user-bio-user-profile-page {
  margin-top: 5%;
  margin-left: 11.25%;
}

.wrapper-div-for-info {
  display:flex;
}

.wrapper-div-user-modal-toggle {
  margin-top: 16%;
}

.place-useravatar-on-profile {
  position: fixed;
  margin-top: 17.25%;
  margin-left: .75%;
}

.username-user-profile-page {
  margin-top: 10%;
  margin-left: 11.25%;
  font-weight: bold;
}

.parentDiv {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top-banner {
  font-family: sans-serif;
  border-style: solid;
  border-width: 1px;
  height: 70px;
  align-self: stretch;
  flex-direction: row;
}

.topBannerUsernameTag {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}

.userImage {
  height: 1000px;
  align-self: stretch;
  background-image: url();
  overflow: hidden;
}

.middleDiv {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  overflow-y: visible;
}

.buttonBar {
  height: 45px;
  align-self: stretch;
  margin-bottom: 25px;
}

.userNameDisplayUidbProfilePage {
  height: 25px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: medium;
}

.showFollowAndTweedInts {
  float: right;
  margin-bottom: 20px;
}

/* Styling for user profile modal content*/

.bannerUpload {
  margin-left:50px;
}

.uidbModalDiv {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.userProfileModalInterior {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0 auto;
}

#userBio {
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#userBioFormSubmit {
  margin-left: 25px;;
}

.modal_box_userprofile {
  background-color: white;
  height:550px;
  width: 675px;
  border-style: solid;
  border-width: 3px;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
}

/* Styling for home page content */

.homePageContainer {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tweedboxform {
  width: 100%;
  height: 125px;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
}

.borderBlock {
  width:100%;
  background-color: lightgrey;
  height:15px;
  margin-top: 25px;
}

.tweedDisplayList {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.submitButton {
  margin-bottom: 25px;
}

/* Styling for tweeds on page */

.viewUserProfileInfoFromHover {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  height:150px;
  width:250px;
  background-color: white;
  z-index: 1;
  position: absolute;
}

/* Explore page styling */

.explorePageDiv {
  height: 100%;
  width: 100%;
}

.holderForAvatarOnExplore {
  float: left;
}

.userNameDisplayUidbProfilePageAuioop {
  float: left;
}

/* User avatar styling */

.user-avatar-circle {
  display: block;
  width: 50px;
  height: 50px;
  border-style:solid;
  border-width:.5px;
  overflow: hidden;
  border-radius:50%;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  }


.grid-container-avatar {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.username-inside-avatar {
  margin-top: 23px;
  margin-left: 10px;
  cursor: pointer;
}

/* Misc */

.tweedsOnPage {
  margin-left: 5px;
  margin-top:10px;
}

.usernameTweedsOnPage {
  margin-top:5px;
}

/* Reworked tweedbox */

.tweed-box-holding-tweeds {
  border-style:solid;
  border-width:1.5px;
  border-color:black;
  height:115px;
  height: 125px;
  width: 100%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.div-for-username {
  margin-top: 2.5%;
  font-family: sans-serif;
  margin-left: 11%;
}

.img-for-user-avatar-tweed {
  display: block;
  width: 50px;
  height: 50px;
  border-style: solid;
  border-width: .5px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-left: 1.75%;
  cursor: pointer;
}

.div-for-likefav-buttons-tweed {
  display: flex;
  margin-left: 5.5%;
  margin-top: 10px;
}

.space-between-text-and-buttons-tweed {
  margin-top: 50px;
  margin-bottom: 50px;
}

.tweed-text {
  font-family: sans-serif;
  margin-top: 1.25%;
  margin-left: 11%;
}

.like-icon {
  cursor:pointer;
  margin-top:2%;
}

.fav-icon {
  cursor: pointer;
  margin-top:3%;
}

.likefav-icon-wrapper {
  display: inline-flex;
  margin-left: 1%;
  margin-top: 2%;
}

.gap-likefav-icon {
  margin-left:25px;
}


