/* Direct tag styling */

body {
    margin: 0px;
  }

/* Modal interior styling */
.show_modal {
    top:0px;
    left:0px;
    z-index: 1;
    display:relative;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .hide_modal {
    display:none;
  }
  
  .modal_box {
    background-color: white;
    height:550px;
    width: 650px;
    border-style: solid;
    border-width: 3px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
  }
  
  .modal_interior_header {
    margin-top: 50px;
  }

  .login_one {
    margin-left: 10px;
    width: 300px;
    margin-top: 15px;
  }
  
  .login_two {
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
  }
  
  .login_button {
    margin-top: 30px;
    width: 150px;
  }
  .modal_box_content {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
  }

  .button_center {
    display: table;
    margin: 0 auto;
  }


  .login_one_style {
    margin-bottom: 15px;
  }

  .header_style {
    display: table;
    margin: 0 auto;
  }


  /* User auth page styling */

  .login_modals_graphics {
    z-index: 0;
    top: 40%;
    left:65%;
    position: fixed;
}
  
 .header_style_external {
    margin-bottom: 25px;
}

.signup_button_style {
    margin-top: 15px;
}

